body{
	margin: 0;
	padding: 0;
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("SP.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;

	background-size: cover;
}

